<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Pieter CK - demo site</title>
      <script rel="stylesheet" src="{% static 'css/bootstrap.css' %}"></script>
      <script rel="stylesheet" src="{% static 'css/style.cs' %}"></script>   
   </head>
   <body>
    {% block content %}
    {% endblock content%}
   </body>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/menu-color.js' %}"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</html>